@media (max-width: 550px) {
    .father {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    body {
        height: 100vh;
        max-width: 100vw;
        overflow-x: hidden;
    }

    .sliderd {}

    header {
        width: 100% !important;
        margin-left: 28px !important;
    }

    .first-p p {
        font-size: 42px !important;

    }

    .btns {
        padding-top: 5px !important;
        padding-bottom: 5px !important;

    }

    .man-left1 {
        top: 230px !important;
    }

    .man-right2 {
        top: 310px !important;
    }

    .man {
        margin-right: 10px !important;
        width: 345px !important;
        margin-top: 20px !important;
    }

    .p-lemon {
        font-size: 40px !important;
    }

    .slider {
        margin-left: 28px !important;
    }

    .navbar img {
        width: 80px;
        height: 35px;
        padding-right: 20px;
    }

    .navbar-nav .nav-link {
        align-items: center;
        justify-content: center;
        font-size: 13px;
        padding-left: 0 !important;
    }

    .span {
        display: none;
    }

    .navbar-nav .nav-item {
        padding-left: 0 !important;
        margin-bottom: 5px;
    }

    .navbar-nav a {
        margin: 0px !important;
        text-align: center;
        max-width: 500px;
    }

    .navbar .divider {
        display: none;

    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler-icon {
        width: 25px;
        height: 25px;
    }


    .navbar-nav .nav-item.d-flex {
        justify-content: center;
        gap: 6px;
    }

    .navbar-nav .nav-item.d-flex img {
        width: 13px;
        height: 13px;
    }

    .second-section-p {
        padding-top: 10px !important;
    }

    .switches {
        padding: 0px !important;
        padding-left: 20px !important;
    }

    .switch {
        height: 45px !important;
        width: 61px !important;
    }

    .monthly {
        padding-right: 0px !important;
    }

    .ttt {
        margin: 0 !important;
    }

    .starter {
        margin-left: 17px;
        height: 885px !important;
    }

    .left-gridle {
        margin-left: -113px !important;
    }

    .gridle-left-boder {
        margin-left: 0 !important;
    }

    .gridle {
        justify-items: start !important;
        margin-left: 17px !important;
    }

    .right-gridle {
        margin-left: 0 !important;

    }

    .gridle-right-first,
    .gridle-right-second {
        margin-left: -113px !important;
    }

    .gridle-row {
        margin-left: 0 !important;
        max-width: 357px !important;
    }

    .gridle-row img {
        margin-left: 0 !important;
    }

    .gridle-row p {
        margin-left: 0 !important;
    }

    .p1 {
        font-size: 32px !important;
        line-height: 40px !important;
    }

    .basic {
        margin-right: 12px !important;
    }

    .salary {
        margin-left: 20px !important;
    }

    .basic1 {
        max-width: 100px;
    }

    .basic2 {
        max-width: 150px;
        margin-left: -26px !important;
    }

    .first-section {
        margin-left: 28px !important;
    }

    .hero {
        padding-top: 20px;
        padding-left: 37px;
    }


}