@media(max-width:440px) {
    body {
        padding-top: 15px !important;
    }

    .basic-perm {
        margin-left: 0px !important;
        padding-left: 15px !important;
    }

    header {
        padding-left: 44px !important;
    }

    .hero-left button {
        max-width: 160px !important;
    }

    .hero {
        padding-top: 15px !important;
    }

    .last-section {
        padding-left: 20px !important;
    }

    .last-section .p1 {
        padding-top: 80px !important;
    }

    .last-section img {
        max-width: 38%;
    }

    .first-section img {
        max-width: 38%;
    }

    .man {
        max-width: 312px !important;
    }

    .hero button {
        max-width: 60px;
    }

    .monthly-year {
        gap: 0px !important;
    }

    .whatsappp {
        max-width: 390px !important;
    }

    .hero {
        padding-left: 0 !important;
    }

    /* .container {
        max-width: 445px;
    } */
}

@media (max-width: 800px) {
    .father {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    body {
        height: 100vh;
        max-width: 100vw;
        /* overflow-x: hidden; */
    }

    .sliderd {}

    header {
        width: 100% !important;
        margin: 0 auto !important;
        /* توسيط بدون تجاوز العرض */
        padding: 0 15px;
    }

    .first-p p {
        font-size: 42px !important;

    }

    .btns {
        padding-top: 5px !important;
        padding-bottom: 5px !important;

    }

    .man-left1 {
        top: 230px !important;
    }

    .man-right2 {
        top: 310px !important;
    }

    .man {
        margin-right: 10px !important;
        width: 345px !important;
        margin-top: 20px !important;
    }

    .p-lemon {
        font-size: 40px !important;
    }

    .slider {
        margin-left: 28px !important;
    }

    .navbar img {
        width: 80px;
        height: 35px;
        padding-right: 20px;
    }

    .navbar-nav .nav-link {
        align-items: center;
        justify-content: center;
        font-size: 13px;
        padding-left: 0 !important;
    }

    .span {
        display: none;
    }

    .navbar-nav .nav-item {
        padding-left: 0 !important;
        margin-bottom: 5px;
    }

    .navbar-nav a {
        margin: 0px !important;
        text-align: center;
        max-width: 500px;
    }

    .navbar .divider {
        display: none;

    }

    .feature {
        margin-left: 55px !important;
    }

    .last-section {
        padding-top: 400px !important;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler-icon {
        width: 25px;
        height: 25px;
    }

    .whatsappp {
        padding-left: 0px !important;
    }

    .lastest {
        text-align: center;
        padding-left: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;

    }

    .lastest p {
        font-size: 36px !important;
    }

    .lastest .man-right2 {
        right: -17px !important;
    }

    .lastest button {
        /* margin-right: 97px !important; */
    }

    .lastest .man-left1 {
        left: 30px !important;
    }

    .lastest .man-right1 {
        left: 210px !important;
    }


    .navbar-nav .nav-item.d-flex {
        justify-content: center;
        gap: 6px;
    }

    .navbar-nav .nav-item.d-flex img {
        width: 13px;
        height: 13px;
    }

    .second-section-p {
        padding-top: 10px !important;
    }

    .switches {
        padding: 0px !important;
        padding-left: 20px !important;
    }

    .switch {
        height: 45px !important;
        width: 87px !important;
    }

    .monthly {
        padding-right: 0px !important;
    }

    .ttt {
        margin: 0 !important;
    }

    .salary .col-lg-4 {
        max-width: 100%;
    }

    .salary .plan-content {
        width: 100%;
    }

    .gridle .p1 {
        font-size: 32px !important;
        text-align: center;
    }

    .gridle .p2 {
        text-align: center;
    }

    .gridle-left-boder,
    .gridle-right-first,
    .gridle-right-second {
        max-width: 90% !important;
        margin: 20px auto !important;
    }

    .p1 {
        font-size: 32px !important;
        line-height: 40px !important;
    }

    .basic {
        margin-right: 12px !important;
    }

    .salary {
        margin-left: 20px !important;
    }

    .basic1 {
        max-width: 100px;
    }

    .basic2 {
        max-width: 150px;
        margin-left: -26px !important;
    }

    .first-section {
        margin-left: 28px !important;
    }

    .hero {
        padding-top: 20px;
        padding-left: 37px;
    }
}